@using RussianTeaClubSite.HtmlHelpers
@model RussianTeaClubSite.ViewModels.ArticlePageViewModel

@{
    ViewBag.Title = "Статья";
}

<div class="well">
    <h3>
        <strong>@Model.Name</strong>
    </h3>

    @if (Model.ContentImages != null)
    {
        <div class="text-center">
            @foreach (var images in Model.ContentImages)
            {
                <div style="max-width: 350px; display: inline-block">
                    <img class="img-thumbnail" style="max-height: 250px"
                         src="@Url.Action("GetImage", "Article",
                                  new {articleId = Model.ArticleId, contentImageId = images.ContentImageId})" />
                </div>
            }
        </div>
    }

    <span class="lead">@Model.Content</span>
    <br/>

    <div class="pull-left">@Html.Raw(Html.Tags(Model.Tags, t => Html.ActionLink(t.ToLower(), "List", new { tag = t })))</div>
</div>